.table{
    margin-top: 8rem;
    white-space: nowrap;
}
.table-header{
    text-align: center;
}
.button-descargar{
    min-width: 220px;
    margin-top: 5rem;
}
.button-descargar-container{
    display: flex;
    justify-content: flex-end;
}