nav{
    background-color: #5F5C5E;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
img{
    height: 2.5rem;
}
.btn-primary{
    color: #fff;
    background-color: #D17901 !important;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    width: 146px;
    text-transform: uppercase;
}
.btn-secondary{
    background-color: #fff;
    color: black;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
.navbar-collapse{
    justify-content: flex-end;
}
.title-modal-cod {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6rem;
    margin-top: 1rem;
}
.title-modal-cod h4{
    font-size: 1.3rem;
}
.modal-header, .modal-footer{
    border-bottom: none;
    border-top: none;
}
form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.form-modal{
    margin-left: -5rem;
}
.form-control{
    width: 140%;
}
.form-label {
    margin-bottom: 0.5rem;
    transform: translate(14px, 20px);
    background-color: white;
    text-transform: uppercase;
}   
.modal-dialog{
    position: absolute;
    top: 25%;
    /* left: 34%; */
    left: 28%;
    transform: translate(-50%, -50%);
}
.footer-cod{
    margin-right: 2rem;
    margin-bottom: 1rem
}
.footer-cod .btn-primary, .footer-cod .btn-secondary{
    font-size: 1.1rem;
}

@media (max-width: 1200px){
    .modal-dialog{
        left: 22%;
    }
    .form-control{
        width: 120%;
    }
}
@media (max-width: 990px){
    .modal-dialog{
        top: 20%;
        left: 25%;
        max-width: 40%;
    }
    .title-modal-cod {
        margin-left: 3.5rem;
    }
    .title-modal-cod h4{
        font-size: 1.0rem;
    }
    .modal-footer{
        margin-right: 1rem;
    }
    .btn-primary{
        font-size: 0.8rem;
        width: 130px;
    }
    .btn-secondary{
        font-size: 0.8rem;
        width: 130px;
    }
    .form-control{
        width: 100%;
    }
    .form-modal{
        margin-left: -2rem;
    }
    .form-label{
        font-size: 0.8rem;
        transform: translate(10px, 18px);
    }
    .footer-cod .btn-primary, .footer-cod .btn-secondary{
        font-size: 0.9rem;
    }
}
@media (max-width: 850px){
    .title-modal-cod {
        margin-left: 2.5rem;
        margin-bottom: -2rem;
    }
    .modal-dialog{
        top: 18%;
    } 
    .title-modal-cod h4{
        font-size: 0.8rem;
    }
    .form-control{
        width: 80%;
    }
    .form-modal{
        margin-left: -1rem;
        width: 115%;
    }
    .form-label{
        font-size: 0.6rem;
        transform: translate(8px, 17px);
    }
    .footer-cod .btn-primary, .footer-cod .btn-secondary{
        font-size: 0.7rem;
        margin-top: -1rem;
    }
}