nav{
    background-color: #5F5C5E;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
img{
    height: 2.5rem;
}
.btn-primary{
    color: #fff;
    background-color: #D17901 !important;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    width: 146px;
    text-transform: uppercase;
}
.btn-secondary{
    background-color: #fff;
    color: black;
    border: none;
    box-shadow: none;
    font-weight: bold;
}
.navbar-collapse{
    justify-content: flex-end;
}
.modal-header, .modal-footer{
    border-bottom: none;
    border-top: none;
}
.modal-dialog {
    top: 25%;
} 
.modal-content {
    padding: 8px;
}
.title-modal-cod h4{
    font-size: 1.0rem;
    margin-left: 0.8rem;
    margin-top: 1.0rem;
}
form{
    display: flex;
    justify-content: space-between;
    margin-top: -1.9rem;
}
.form-label {
    margin-bottom: 0.5rem;
    transform: translate(16px, 18px);
    background-color: white;
    text-transform: uppercase;
    font-size: 0.8rem;
} 
.footer-cod{
    margin-right: 2rem;
    margin-bottom: 1rem
}
.footer-cod .btn-primary, .footer-cod .btn-secondary{
    font-size: 1.0rem;
}