.lists{
    /* margin-top: 7rem; */
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.lists h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 2.9rem;
}
.name-presindente{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    align-items: center;
    max-width: 34%;
} 
.presidente{
    font-size: 1.0rem;
}
.name{
    font-weight: bold;
    max-width: 88%;
}
.lista{
    text-transform: uppercase;
    margin-bottom: 5rem;
}
.participantes{
    margin-left: 1.0rem;
}
.participantes li{
    list-style: none;
    font-size: 0.9rem;
}
ul{
    margin-top: 20px;
    margin-left: -27px;
}
.wrapper{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}
.card-body{
    display: flex;
    flex-wrap: wrap;
}
.cards{
    margin: 10px;
    max-width: 30%;
}

.cards img{
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    margin-left: 1.0rem;
}
.title-lista{
    font-weight: bold;
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
    border-color: #fff;
}
button{
    color: #fff;
    background-color: #D17901;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    padding: 6px 16px;
    border-radius: 4px;
    font-size: 0.875rem;
    width: 146px;
}
.button-bt{
    display: flex;
    justify-content: flex-end;
    margin-right: 2.9rem;
    margin-top: 15px; 
    margin-bottom: 10px;
}

 @media (max-width: 1199px) {
    .lists h2{
       margin-left: 2.4rem;
    }    
    .cards{
        max-width: 30%;
    }
    .cards img{
       width: 125px;
       height: 125px
    }
    .presidente, .name{
       font-size: 0.9em;
    }
    ul{
        margin-left: -28px;
    }
    .participantes li{
        font-size: 12px;
    }
    .button-bt{
        margin-right: 1.9rem;
    }
}

@media (max-width: 991px){
    .lists h2{
        font-size: 1.3em;
        margin-left: 1.0rem;
     } 
    .card-body{
       justify-content: center;     
    }
    .name-presindente{
        margin-top: 10px;
        margin-left: -5px;
        max-width: 100%;
    }
    .name{
        max-width: 100%;
    }
    .title-lista{
        font-size: 1.0em;
    }
    ul{
        margin-left: -2.5rem;
    }
    .participantes{
        margin-top: -0.4rem;
        margin-bottom: -0.5rem;
    }
    .participantes li{
        font-size: 9px;
    }
    .button-bt{
        margin-right: 1.0rem;
    }
    .cards img{
        margin-left: -2px;
    }
} 

@media(max-width: 767px){
    .lists h2{
        font-size: 1.8rem;
        margin-left: 6.5rem;
    }
    .wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .cards{
        max-width: 60%;
    }
    .name-presindente{
        margin-left: 18px;
    }
    .participantes{
        margin-top: 0;
        margin-right: 8px;
    }
    .participantes li{
        font-size: 12px;
    }
    .button-bt {
        margin-right: 6.5rem;
    }
}
