.modal-dialog.modal-lg {
    top: 5%;
}
.title-confirm h4{
    font-size: 1.2rem;
    margin-left: 30%;
    width: 100%;
}
.title-header{
    font-size: 1.2rem;
    background-color: #D17901;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.confirm-selection{
    display: flex;
    width: 100%;
    align-items: center;
    margin-left: 7%;
}
.confirm-card-body{
    border: none;
}
.confirm-selection .cargo, .confirm-selection .name{
    max-width: 100%;
    text-transform: uppercase;
    font-size: 1.0rem;
}
.confirm-selection .lista{
    text-transform: none;
}
.confirm-selection-text {
    margin-left: 10px;
}
.footer-confirm{
    margin-top: -2rem;
}
 
@media (max-width: 991px) {
    .confirm-selection{
        margin-left: 0;
    }
    .confirm-selection .cargo, .confirm-selection .name, .confirm-selection .lista{
        font-size: 0.8rem;
    }
    .title-confirm h4{
        margin-left: 6%;
        font-size: 1rem;
    }
}
 
